@charset "utf-8";

@use "../../../node_modules/bulma/sass/index" with (
    $card-background-color: #0b2941
);

/*
 * Global
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #00101c;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

code {
    color: white !important;
}

br {
    user-select: none;
}

#save-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    padding: 10px;

    #saveIcon {
        width: 24px;
        height: 24px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.section,
.container.is-fullheight {
    background-color: #081e30;
    border-radius: 0.5rem;
    color: white;
    padding: 3rem;
}

.container.is-fullheight {
    height: 100%;
}

.onboarding-step {
    width: 100%;
    height: 100%;
    // "display: flex;" is already applied
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.with-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tooltip-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 16px;
}

.tooltip-text {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 0.5rem;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.list.has-bullets {
    list-style-type: disc;
    text-align: left;
}

.list.has-bullets li {
    margin: 0.75rem;
}

.select select {
    background: #081f2f;
    color: #fff;
    font-weight: 500;
}

.icon {
    width: 26px;
    height: 26px;
}

.icon img {
    width: 26px;
    height: 26px;
    filter: invert(100%) sepia(2%) saturate(6692%) hue-rotate(194deg) brightness(125%) contrast(97%);
}

.icon:hover img {
    filter: invert(80%) sepia(24%) saturate(2320%) hue-rotate(169deg) brightness(100%) contrast(102%);
}

.vertical-settings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.grid-settings-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.2rem;
    margin: auto;
}

/*
 * Main
*/

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.version-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8px;
    margin-top: 24px;
}

.name-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

.logo-container {
    position: absolute;
    left: 0;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 72px;
    height: 72px;
}

.language-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*
 * Device info
*/

.edit-button-container {
    padding: 0.5rem 1rem;
}

#device-name-input {
    background-color: #081e30;
    border: 1px solid #3a3a3a;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem;
    outline: none;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header > div {
    display: flex;
    align-items: center;
}

.card-content span {
    color: white;
}

.card-footer {
    color: white;
}

#device-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
}

.compact-mode .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    --bulma-card-content-padding: 1.25rem !important;
}

.compact-mode .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
}

.compact-mode .card-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 150px;
    text-align: center;
    overflow: hidden;
}

.compact-mode .card-content p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.compact-mode .card-content span {
    display: block;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.com-port-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-header-title.with-padding {
    padding-right: 0.4rem;
}

#mag-status {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    left: 4px;
    vertical-align: middle;
    outline: 2px solid #081e30;
}

.mag-status-unknown {
    background-color: gray;
}

.mag-status-green {
    background-color: green;
}

.mag-status-yellow {
    background-color: yellow;
}

.mag-status-red {
    background-color: red;
}

.mag-status-darkred {
    background-color: darkred;
}

/*
 * Settings
*/

.settings-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: fit-content;
    padding: 0.5rem;
    gap: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #1490f5;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:disabled + .slider {
    cursor: not-allowed;
}

input:disabled + .slider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 34px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00080f;
}

::-webkit-scrollbar-thumb {
    background-color: #0a253b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #071a2a;
}
