@import "tailwindcss";

@theme {
    --color-body: var(--body);
    --color-panel: var(--panel);
    --color-text: var(--text);
    --color-text-alt: var(--text-alt);

    --color-button: var(--button);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-slimetora-gradient: var(--slimetora-gradient);
    --color-slimetora-gradient-alt: var(--slimetora-gradient-alt);

    --font-heading: var(--font-heading);
    --font-body: var(--font-body);
}

:root {
    --body: #2c2d30;
    --panel: #3b3c40;
    --text: #ffffff;
    --text-alt: rgba(255, 255, 255, 0.75);

    --button: var(--tertiary);
    --primary: #9a48ee;
    --secondary: #f05d38;
    --tertiary: #62656a;

    --slimetora-gradient: linear-gradient(180deg, rgba(240, 93, 56, 1) 0%, rgba(154, 72, 238, 1) 100%);
    --slimetora-gradient-alt: linear-gradient(180deg, rgba(240, 93, 56, 0.24) 0%, rgba(154, 72, 238, 0.24) 100%);

    --font-heading: "Chakra Petch", sans-serif;
    --font-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

body {
    @apply bg-body font-body text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-white;
}

.hoverable {
    @apply transition duration-200 ease-in-out cursor-pointer;
}

.button {
    @apply text-white min-w-[200px] min-h-12 px-6 py-2 rounded-lg;
}